h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 60px;
}
body {
    background-color: #3c3e58;
}
#calculator {
    margin-left: auto;
    margin-right: auto;
    background-color: #161b33;
    width: 330px;
    height: 460px;
    border-radius: 30px;
    padding: 10px;
}
#calculator:hover {
    box-shadow: 20px 20px 100px #424479;
}

button {
    border-radius: 20px;
    height: 70px;
    border: none;
    background-color: #3c3e58;
    color: black;
    margin-top: 10px;
    width: 75px;
    margin-left: 4px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
}
button:hover {
    background-color: #474973;
    color: white;
}

#ac {
    width: 160px;
}
#equal {
    width: 160px;
}
#opt {
    text-align: right;
    background-color: #161b33;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 320px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
    font-weight: bold;
    border: none;
}
